*{
	padding:0px;
	margin:0px;
}
 
header{
	width:960px;
	height:auto;
	margin:0 auto;
}
.nav{
	width:960px;
  height:61px;
 background-color:purple;
}
.nav ul li{
	list-style:none;
	display:inline-block;
	position:relative;
}
.nav ul li a{
	display:block;
	padding:20px 35px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	border-radius:5px;
}
.nav ul li a:hover{
	color:yellow;
	background:red;
}
.nav ul li ul{
	position:absolute;
	background:#000;
	left:-9999px;
}
.nav ul li:hover ul{
	left:0px;
}
.nav ul li ul li{
	width:200px;
	border-bottom:1px solid #fff;
}
.banner-cover{
	width:50vh;
     background-position:center;
	 background-size:cover;
	 background-repeat:no-repeat;

	
}
.banner-cover img{
	width:960px;
	height:500px;
}
.about-logo img{
	width:380px;
	height:320px;
	margin:0px 10px;
	margin-bottom:10px;
	box-shadow:0px 8px 10px 0px #000;
}
.about-text{
	font-size:21px;
	height:auto;
	padding:0px 20px;
	display:inline-block;
	margin-left:380px;
	margin-top:-320px;
	
}

.about-text h2{
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:2px solid #fff;
	margin-bottom:20px;
	display:inline-block;
}
.row{
	overflow:auto;
}
.col{
	float:left;
}
.about-section{
	background:#DCE7E5;
	padding:40px 0px;
	margin-top:6px;
}
.title{
	width:180px;
	height:auto;
	margin:0 auto;
}
.title h2{
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	border-bottom:2px solid #fff;
	text-align:center;
	margin-bottom:30px;
}
.service{
	width:280px;
	height:auto:
	border:1px white;
	text-align:center;
	display:inline-block;
}
.service h3{
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
	text-transform:uppercase;
}
.service p{
	font-size:15px;
	color:gray;
	margin-left:2px;
	line-height:22px;
	padding:0px 15px;
}
.service-section{
	background:#B7BBB2;
	padding:40px 0px;
	margin-top:20px;
}
.serv-icon i{
	font-size:40px;
	margin-top:10px;
	margin-bottom:10px;
	color:#fff;
	transition:5s;
}
.serv-icon i:hover{
	color:yellow;
	transform:scale(.8);
}

.contact{
	background:#fff;
	padding:15px 15px 15px 80px;
	box-shadow:0px 0px 10px #ccc;
	width:180px;
	position:relative;
	display:inline-block;
	margin:0px 8px;
	border-radius:15px;
	margin-left:25px;
}
.cont-icon i{
	position:absolute;
	width:50px;
	float:left;
	top:8px;
	left:15px;
	background:#222;
	text-align:center;
	color:#fff;
	line-height:50px;
	font-size:30px;
	transition:.5s;
}
.cont-icon i:hover{
	color:yellow;
	transform:scale(.8);
}
.cont-text p{
	padding:0;
	margin:0;
	font-size:16px;
	line-height:22px;
}
.contact-section{
	background:#cacaca;
	padding:40px 0px;
	margin-top:20px;
}
.contact-form{
	width:620px;
	height:auto;
	margin:0 auto;
	margin-top:30px;

}
.inputtag input{
	font-size:20px;
	text-transform:capitalize;
	padding:10px 10px;
	width:80%;
	border:0px;
	margin:8px 0px;
}
.inputtag textarea{
	width:500px;
	height:auto;
	border:0;
}
.inputtag button{
	width:81%;
	padding:10px 0px;
	background:#fff;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:4px;
	border:0;
}
footer{
	width:960px;
	margin:0 auto;
	height:auto;
	background:#000;
	color:#fff;
	padding:35px 0px;
}
.footer-icon{
	float:right;
	margin-top:-30px;
}
.footer-icon i{
	font-size:30px;
	padding:0px 10px;
	transition:.5s;
}
.footer-icon i:hover{
	color:yellow;
	transform:scale(.8);
}
.footer-text{
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px 20px;
}